@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;700&display=swap");

* {
  font-family: "Source Code Pro", monospace;
}

.content::-webkit-scrollbar {
  /* This is the magic bit */
  display: none;
}
html,
body {
  margin: 0;
  background: linear-gradient(#466e94, #234982);
}

#base {
  min-width: 900px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 100px;
  font-weight: 400;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #ffedea;
}

hr {
  height: 1px;
  color: #ffedea;
  background-color: #ffedea;
  width: fit-content;
}

#about {
  margin-top: 10px;
  font-size: large;
  font-weight: 400;
  color: #ffedea;
}

#info {
  width: 500px;
  justify-content: flex-start;
}
#pfp {
  display: flex;
}
#pfp img {
  width: 400px;
  justify-self: center;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
  margin: 1pc;
}

#lower-half {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  /* align-items: space-around; */
  align-self: center;
}
#lower-half div {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: 10px;
}

#lower-half div h2 {
  display: flex;
  font-size: xx-large;
  font-weight: 700;
  align-self: center;
  color: #ffedea;
}

#lower-half div div h4 {
  color: #ffedea;
  align-self: center;
  font-size: large;
  margin: 10px;
  padding: 10px;
  background: #222e3ad2;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#images {
  border-radius: 6px;
  background-color: rgb(43, 59, 73);
  overflow-y: scroll;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.image {
  border-radius: 3px;
  margin: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  width: 400px;
}

#about-card {
  display: flex;
  flex-direction: row;
  width: 1000px;
  align-self: center;
  padding: 10px;
  margin: 60px;
  border: 0px solid;
  border-color: #2e3d4b;
  border-radius: 7px;
  background-color: #2e3d4b;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

#about-card,
#links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #a56067;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid;
  border-color: #2d4d6b;
  border-radius: 7px;
  font-size: 25px;
  font-weight: 400;
  margin: 2px;
  margin-top: 2px;
  margin-bottom: 7px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.image:hover {
  -webkit-filter: brightness(70%);
}

.link:hover {
  background-color: #9a535a;
}

.link > a {
  color: #faebec;
  text-decoration: none;
}

@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .links {
    flex-direction: column;
  }
  .link {
    font-size: 100px;
  }
}
